<div id="background">
        

        
        <div id="firstBlock">
            <input type="search" placeholder="product search" style="font-style: italic">
        </div>

        <div id="secondBlock">
            <div>
                <p>brand</p>
            </div>
            <div>
                <p>category</p>
                <img src="https://image.flaticon.com/icons/png/512/18/18069.png">
                
            </div>
            

        </div>

        <div id="fourthBlock">
            <img src="https://cdn1.iconfinder.com/data/icons/prettyoffice8/256/User-green.png" alt="user icon" id="userIcon">
            userName
            <button>cart<img src="http://cdn.onlinewebfonts.com/svg/img_381198.png" alt="basket"></button>
            
            <button>wishlist<img src="https://static.thenounproject.com/png/1381335-200.png"></button>
       
        </div>
        
        <div id="fifthBlock">
            <table>
                    <thead>
                        <tr>
                            <th>
                                <img src="https://f25b32ae7354e5bf5a47-61c6d5aeae250d28854ed3e240a16b15.ssl.cf3.rackcdn.com/Products/68548-0803181329151973763845.jpg">
                            </th>
                            <th>
                                <img src="https://f25b32ae7354e5bf5a47-61c6d5aeae250d28854ed3e240a16b15.ssl.cf3.rackcdn.com/Products/28899-2606131509541973763845.jpg">
                                
                            </th>
                            <th>
                                <img src="https://f25b32ae7354e5bf5a47-61c6d5aeae250d28854ed3e240a16b15.ssl.cf3.rackcdn.com/Products/62082-3008171609521973763845.jpg">
                            </th>
                            <th>
                                <img src="https://f25b32ae7354e5bf5a47-61c6d5aeae250d28854ed3e240a16b15.ssl.cf3.rackcdn.com/Products/48667-2303161129511973763845.jpg">
                            </th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                Sleeping bags
                            </td>
                            <td>
                                Grill
                            </td>
                            <td>
                                Tents
                            </td>
                            <td>
                                Bedchair
                            </td>
                        </tr>
                    </tbody>
                </table>
        </div>
        </div>