<header>
 
  <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
  <title>go2peaks</title>

<body>
  <div id="head">
      <ul id="menu">
          <li><a routerLink="/" href="">Home</a></li>
          <li><a routerLink="/shop" href="">Shop</a></li>
          <li><a routerLink="/maps" href="">Maps</a></li>
          <li><a routerLink="/forum" href="">Forum</a></li>
      </ul>
      
      <img id="gif" src="//i.pinimg.com/originals/c0/3e/a8/c03ea88cf1cc9532fc4a5db9dfa84c68.gif" alt="gif">
      <!-- d33rxv6e3thba6.cloudfront.net/2016/3/5714c8b9770a27b85e9bc715/14210-yu5gme.gif -->
  </div>
  <input (click)="logClick()" id="login" type="button" value="Sign Up">
 

</body>
</header>


<div id="bottom">
    <ul id="contacts">
        <li><a href="https://www.instagram.com/?hl=en"><img src="https://cdn4.iconfinder.com/data/icons/social-media-icons-the-circle-set/48/instagram_circle-128.png" alt="instagram"></a></li>
        <li><a href="https://www.facebook.com/"><img src="https://cdn4.iconfinder.com/data/icons/social-media-icons-the-circle-set/48/facebook_circle-128.png" alt="facebook"></a></li>
        <li><a href="https://vk.com/"><img src="http://icons-for-free.com/free-icons/png/512/834714.png" alt="vk"></a></li>
        <li id="tel">+7(771)123 4554</li>
        <li id="too">© 2019 ТОО «Go2Peaks» </li>
    </ul>
</div>