        <div id="wrapper">
            <section id="content">
               <div class="container">
                    <div class="row">
                        <div class="col-lg-8">
                            <h3>Форум</h3>
    
                <div class="col-lg-4">
                    <aside class="right-sidebar">
                        <div class="widget">
                            <form role="form">
                                 <div class="form-group">
                                    <input type="text" class="form-control" id="s" placeholder="Поиск..">
                                 </div>
                            </form>
                        </div>
                <div class="widget">
                    <h5 class="widgetheading">Категории</h5>
                    <ul class="cat">
                        <li><i class="fa fa-angle-right"></i><a href="#">Горы</a><span> (20)</span></li>
                        <li><i class="fa fa-angle-right"></i><a href="#">Советы</a><span> (11)</span></li>
                        <li><i class="fa fa-angle-right"></i><a href="#">маршруты</a><span> (9)</span></li>
                        <li><i class="fa fa-angle-right"></i><a href="#">Питание</a><span> (12)</span></li>
                        <li><i class="fa fa-angle-right"></i><a href="#">Техника</a><span> (18)</span></li>
                    </ul>
                </div>
                
                    <div class="widget">
                        <h5 class="widgetheading">Последние обсуждения</h5>
                        <ul class="recent">
                            <li>
                            <img src="https://raw.githubusercontent.com/leilaDos/webDevProject/master/forum/post2.jpg" class="pull-left" width="160" height="120"alt="" />
                            <h6><a href="#">Соло Путешествия</a></h6>
                            </li>
                            <li>
                            <a href="#"><img src="https://raw.githubusercontent.com/leilaDos/webDevProject/master/forum/post3.jpg" class="pull-left" width="160" height="120"alt="" /></a>
                            <h6><a href="#">Особенности кэмпинга</a></h6>
                            </li>
                            <li>
                            <a href="#"><img src="https://raw.githubusercontent.com/leilaDos/webDevProject/master/forum/post2.jpg" class="pull-left" width="160" height="120"alt="" /></a>
                            <h6><a href="#">Горные вылазки</a></h6>
                            </li>
                        </ul>
                    </div>
                    <div class="widget">
                        <h5 class="widgetheading">Популярные темы</h5>
                        <ul class="tags">
                            <li><a href="#">Горы</a></li>
                            <li><a href="#">Маршруты</a></li>
                            <li><a href="#">Советы</a></li>
                            <li><a href="#">Питание</a></li>
                        </ul>
                    </div>
                 </aside>
                </div>
                
                <div id="content">
                    <div class="post">
                        <h2 class="title"><a href="#">Советы от go2peakS</a></h2>
                        <p class="meta"><span class="date">March 1, 2019</span><span class="posted">Posted by <a href="#">Leila</a></span></p>
                        <div style="clear: both;">&nbsp;</div>
                        <div class="entry">
                            <p><img src="https://raw.githubusercontent.com/leilaDos/webDevProject/master/forum/post2.jpg" alt="post2">Топ-25 <strong>Полезные советы для любителей походов. </strong></p>
                            <p> Многие люди, особенно жители мегаполисов, считают кемпинг одним из лучших способов насладиться свежим воздухом и отдохнуть на природе: только вы с друзьями и природа, никакой толпы, суеты и работы. Но как бы заманчиво это ни звучало, такой отдых иногда может превратиться в сущий кошмар. Сегодня мы предлагаем вам 25 советов, которые помогут вам избежать этой печальной участи и провести время максимально расслабленно.</p>
                            <p class="links"><a href="#">Read More</a>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">Comments</a></p>
                        </div>
                    </div>
                    <div class="post">
                        <h2 class="title"><a href="#">За что вы полюбите Алматы</a></h2>
                        <p class="meta"><span class="date">September 10, 2019</span><span class="posted">Posted by <a href="#">Ару</a></span></p>
                        <div style="clear: both;">&nbsp;</div>
                        <div class="entry">
                            <p> <img src="https://raw.githubusercontent.com/leilaDos/webDevProject/master/forum/post3.jpg" alt="post3" > «Лучше гор могут быть только горы, на которых еще не бывал». С этой фразой из стихотворения Владимира Высоцкого нельзя поспорить. Однажды поднявшись на вершину, человек влюбляется в невероятную красоту и притягательность гор. Только в горах чувствуешь себя частью чего-то большего. Вопреки стереотипам сегодня горы – доступный досуг для каждого жителя южной столицы и приезжих туристов. Достаточно лишь желания, а остальное, как говорится, дело техники. Корреспондент BNews.kz совместно с Денисом Лукянчуком, основателем команды Campit.kz, которая занимается организацией бесплатных походов в Алматы, в преддверии новогодних каникул составили ТОП-5 популярных и красивейших горных маршрутов для любителей полезного отдыха, а, возможно, и для тех, кто до сих пор не решался подняться в горы.</p>
                            <p class="links"><a href="#">Read More</a>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">Comments</a></p>
                        </div>
                    
                <div style="clear: both;">&nbsp;</div>
                    </div>
                </div>
                </div>
                </div>
               </div>
            </section>
        </div>    
   